body {
    background-size: cover; 
    margin: 0;
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-position: center;
}

.icons{
    align-items: right;
}
/* grid */
.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 400px);
    grid-template-rows: repeat(4, 300px);
    grid-gap: 10px;
}
  
.grid-item {
    position: relative;
    overflow: hidden;
}


    
.projects-section{
    height:180vh;
    width: 100vw;
    align-items: center;
}

.projects-box-right{
    width: 55%;
}

.projects-box-left{
    width: 45%;
}

.projects-box-left h1 {
    padding-top: 5%;
    padding-bottom: 95%;
}


/* caption hover */

*, *:after, *:before { 
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box; 
    box-sizing: border-box; }

a {
    text-decoration: none;
    outline: none;
}

a img {
    border: none;
}

.caption {
    /* -webkit-backface-visibility: hidden; /* prevent flash when embedding fiddle */
	display: inline-block;
	position: relative;
	margin: 10px;
	overflow: hidden;
	background: #000;
}

.caption img {
	display: block;
	max-width: 100%;
	-webkit-transition: opacity 0.3s ease-in-out;
	-moz-transition: opacity 0.3s ease-in-out;
	transition: opacity 0.3s ease-in-out;
}

.caption:hover img {
	opacity: 0.5;
}

.caption::after,
.caption::before {
	position: absolute;
	width: 100%;
	height: 50%;
	color: #fff;
    z-index: 1;
    -webkit-transition: -webkit-transform 0.3s ease-in-out; 
	-moz-transition: -moz-transform 0.3s ease-in-out; 
	transition: transform 0.3s ease-in-out; 
}

.caption::after {
	content: attr(data-title);
	top: 0;
    left: 0;
    right: 0;
	background: #672683;
	font-size: 30px;
	font-weight: 300;
	padding: 30px;
	-webkit-transform: translateY(-100%);
	-moz-transform: translateY(-100%);
	transform: translateY(-100%);
}

.caption::before {
	content: attr(data-description) ;
	top: 50%;
    left: 0;
    right: 0;
	background: #31173c;
	font-size: 14px;
	padding: 20px;
	-webkit-transform: translateY(100%);
	-moz-transform: translateY(100%);
	transform: translateY(100%);
}

.caption:hover::after,
.caption:hover::before {
	-webkit-transform: translateY(0%);
	-moz-transform: translateY(0%);
	transform: translateY(0%);
}


/* STAR ICON  */
.hi-icon-star:before {
    content: "\2605"; /* FontAwesome Unicode */
    font-family: FontAwesome;
  }
  
.hi-icon {
	display: inline-block;
	font-size: 0px;
	cursor: pointer;
	margin: 15px 30px;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	text-align: center;
	position: relative;
	z-index: 1;
	color: #fff;
}

.hi-icon:after {
	pointer-events: none;
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	content: '';
	-webkit-box-sizing: content-box; 
	-moz-box-sizing: content-box; 
	box-sizing: content-box;
}

.hi-icon:before {
	font-size: 45px;
	line-height: 50px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	display: block;
	-webkit-font-smoothing: antialiased;
}


/* Effect 6 */
.hi-icon-effect-6 .hi-icon {
	box-shadow: 0 0 0 4px rgba(255,255,255,1);
	-webkit-transition: background 0.2s, color 0.2s;
	-moz-transition: background 0.2s, color 0.2s;
	transition: background 0.2s, color 0.2s;
}

.hi-icon-effect-6 .hi-icon:hover {
    text-decoration: none;
	background: rgba(255,255,255,1);
	color: rgba(155, 88, 249, 1);
}

.hi-icon-effect-6 .hi-icon:hover:before {
	-webkit-animation: spinAround 2s linear infinite;
	-moz-animation: spinAround 2s linear infinite;
	animation: spinAround 2s linear infinite;
}



@-webkit-keyframes spinAround {
	from {
		-webkit-transform: rotate(0deg)
	}
	to {
		-webkit-transform: rotate(360deg);
	}
}
@-moz-keyframes spinAround {
	from {
		-moz-transform: rotate(0deg)
	}
	to {
		-moz-transform: rotate(360deg);
	}
}
@keyframes spinAround {
	from {
		transform: rotate(0deg)
	}
	to {
		transform: rotate(360deg);
	}
}


/* BTN CSS*/
.btn {
	border: none;
	font-family: inherit;
	font-size: inherit;
	color: inherit;
	background: none;
	/* cursor: pointer; */
	/* padding: 25px 80px; */
	display: inline-block;
	/* margin: 15px 30px; */
	text-transform: uppercase;
	letter-spacing: 1px;
	/* font-weight: 700; */
	outline: none;
	position: relative;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.btn:after {
	content: '';
	position: absolute;
	z-index: -1;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

/* Pseudo elements for icons */
.btn:before {
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	position: relative;
	-webkit-font-smoothing: antialiased;
}

/* Button 1b */
.btn-1b:after {
	width: 100%;
	height: 0;
	top: 0;
	left: 0;
	background: rgba(155, 88, 249, 0.3);
}

.btn-1b:hover,
.btn-1b:active {
	color: rgba(155, 88, 249, 0.3);
}

.btn-1b:hover:after,
.btn-1b:active:after {
	height: 100%;
}



.bg{
    background-image: linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.2)) ,url(../images/bg1.jpg);
    
}
.new-bg{
    background-image:url(../images/bg2.jpg);
}

.picture {
    height: 80vh;
    width: 80vh;
}

section {
    height:100vh;
    width: 100vw;
    align-items: center;
}

.flex-container{
    height: inherit;
    width: inherit;
    align-items: center;
}

h4{
    margin: 2px;
    text-shadow: 2px 2px 5px #ffffff;
}
  
#bgButton{
    
}

.navbar{
    background: rgba(0, 0, 0, 0.6);
}

.flex-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    padding: 5% 10% 10% 5%;
}
  
.flex-box{
    width: 45%;
    margin: 10px;
}

#home{
    background: none;
}

.section-style {
    font-family: sans-serif;
    color: azure;
    font-size: medium;
    background: rgba(0, 0, 0, 0.6);
    align-items: center;
    text-align: center;
}

.text{
    text-align: left;
    margin-left: 30%;
}
  
.starred {
    padding-left: var(--icon-space);
    --icon-space: 1.3em;
    list-style: none;
    padding: 0;    
}
  
.starred:before {
    content: "\2605"; /* FontAwesome Unicode */
    font-family: FontAwesome;
    display: inline-block;
    margin-left: calc( var(--icon-space) * -1 );
    width: var(--icon-space);
}


.left{
    float: left;
}

.right{
    float: right;
}

.rcorners {
    border-radius: 13px;
    /* border: 2px solid #73AD21; */

}

.center {
    text-align: center;
}

h1{
    color:azure;
    font-family: sans-serif;
}

.footer{
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    bottom: 0px;
    color:azure;
    font-family: sans-serif;
    width: 100%;
    height: 100px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.8);  
    
}

.copyright {
    margin-top:12px;
    margin-bottom:0;
    font-size:14px;
    opacity:0.6;
}

.shadow{
    text-shadow: 2px 2px 5px white;
}

.star-section{
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
    background-position-x: center;
}

.star{
    z-index: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 4px;
    height: 4px;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.1), 0 0 0 8px rgba(255, 255, 255, 0.1), 0 0 20px rgba(255, 255, 255, 1)  ;
    animation:  animate 3s linear infinite;
}

.star::before{
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 300px;
    height: 1px;
    background: linear-gradient(90deg, #fff, transparent);
}
@keyframes animate {
    0%
    {
        transform: rotate(315deg) translateX(0);
        opacity: 1;
    }
    70%
    {
        opacity: 1;

    }
    100%
    {
        transform: rotate(315deg) translateX(-1500px);
        opacity: 0;

    }
    
}
.star:nth-child(1){
    top: 0;
    right: 0;
    left:initial;
    animation-delay:0 ;
    animation-duration: 1s;
}

.star:nth-child(2){
    top: 0;
    right: 80px;
    left:initial;
    animation-delay:0.2s;
    animation-duration: 3s;
}

.star:nth-child(3){
    top: 80px;
    right: 0px;
    left:initial;
    animation-delay:0.4s ;
    animation-duration: 2s;
}

.star:nth-child(4){
    top: 0;
    right: 180px;
    left:initial;
    animation-delay:0.6s;
    animation-duration: 1.5s;
}

.star:nth-child(5){
    top: 0;
    right: 400px;
    left:initial;
    animation-delay:0.8s;
    animation-duration: 2.5s;
}

.star:nth-child(6){
    top: 0;
    right: 600px;
    left:initial;
    animation-delay:1s ;
    animation-duration: 3s;
}
.star:nth-child(7){
    top: 300px;
    right: 0px;
    left:initial;
    animation-delay:1s ;
    animation-duration: 1.75s;
}

.star:nth-child(8){
    top: 0px;
    right: 700px;
    left:initial;
    animation-delay:1.4s ;
    animation-duration: 1.25s;
}

.star:nth-child(9){
    top: 0px;
    right: 1000px;
    left:initial;
    animation-delay:0.75s ;
    animation-duration: 2.25s;
}

.star:nth-child(10){
    top: 0px;
    right: 1000px;
    left:initial;
    animation-delay:2.75s ;
    animation-duration: 2.25s;
}




