body {
    background-size: cover; 
    margin: 0;
}

.bg{
    background-image: url(../images/bg1.jpg);
}
.new-bg{
    background-image:url(../images/bg2.jpg);
}

.picture {
    height: 80vh;
    width: 80vh;
}

h4{
    margin: 2px;
    text-shadow: 2px 2px 5px #201a28;
}

.flex-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    padding: 5% 10% 10% 5%;
}
  
.flex-box{
    width: 45%;
    margin: 10px;
}

#home{
    background: none;
}

.section-style {
    font-family: sans-serif;
    color: azure;
    font-size: medium;
    background: rgba(0, 0, 0, 0.6);
    align-items: center;
    text-align: center;
}

.text{
    text-align: left;
    margin-left: 30%;
}

ul {
    --icon-space: 1.3em;
    list-style: none;
    padding: 0;
}
  
li {
    padding-left: var(--icon-space);
}
  
li:before {
    content: "\2605"; /* FontAwesome Unicode */
    font-family: FontAwesome;
    display: inline-block;
    margin-left: calc( var(--icon-space) * -1 );
    width: var(--icon-space);
}

.topnav {
    z-index: 2;
    position:fixed;
    top:0px; 
    left:0px; 
    right:0px; 
    background-color: rgba(0, 0, 0, 0.653);
    overflow: hidden;
}
  
/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color:azure;
    font-family: sans-serif;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
  
/* Change the color of links on hover */
.topnav a:hover {
    background-color: #8F43EE;
    color: black;
}
  
 /* Add a color to the active/current link */
.topnav a.active {
   background-color: #321c4d;
   color: white;
}

.left{
    float: left;
}

.right{
    float: right;
}

.rcorners {
    border-radius: 13px;
    /* border: 2px solid #73AD21; */

}

.center {
    text-align: center;
}

h1{
    color:azure;
    font-family: sans-serif;
}

.footer{
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    bottom: 0px;
    color:azure;
    font-family: sans-serif;
    width: 100%;
    height: 100px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.8);  
    
}

.copyright {
    margin-top:12px;
    margin-bottom:0;
    font-size:14px;
    opacity:0.6;
}

ul {
    --icon-space: 1.3em;
    list-style: none;
    padding: 0;
}
  
li {
    padding-left: var(--icon-space);
}
  
li:before {
    content: "\2605"; /* FontAwesome Unicode */
    font-family: FontAwesome;
    display: inline-block;
    margin-left: calc( var(--icon-space) * -1 );
    width: var(--icon-space);
}

.shadow{
    text-shadow: 2px 2px 5px #8F43EE;
}

.star-section{
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
    background-position-x: center;
}

.star{
    z-index: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 4px;
    height: 4px;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.1), 0 0 0 8px rgba(255, 255, 255, 0.1), 0 0 20px rgba(255, 255, 255, 1)  ;
    animation:  animate 3s linear infinite;
}

.star::before{
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 300px;
    height: 1px;
    background: linear-gradient(90deg, #fff, transparent);
}
@keyframes animate {
    0%
    {
        transform: rotate(315deg) translateX(0);
        opacity: 1;
    }
    70%
    {
        opacity: 1;

    }
    100%
    {
        transform: rotate(315deg) translateX(-1500px);
        opacity: 0;

    }
    
}
.star:nth-child(1){
    top: 0;
    right: 0;
    left:initial;
    animation-delay:0 ;
    animation-duration: 1s;
}

.star:nth-child(2){
    top: 0;
    right: 80px;
    left:initial;
    animation-delay:0.2s;
    animation-duration: 3s;
}

.star:nth-child(3){
    top: 80px;
    right: 0px;
    left:initial;
    animation-delay:0.4s ;
    animation-duration: 2s;
}

.star:nth-child(4){
    top: 0;
    right: 180px;
    left:initial;
    animation-delay:0.6s;
    animation-duration: 1.5s;
}

.star:nth-child(5){
    top: 0;
    right: 400px;
    left:initial;
    animation-delay:0.8s;
    animation-duration: 2.5s;
}

.star:nth-child(6){
    top: 0;
    right: 600px;
    left:initial;
    animation-delay:1s ;
    animation-duration: 3s;
}
.star:nth-child(7){
    top: 300px;
    right: 0px;
    left:initial;
    animation-delay:1s ;
    animation-duration: 1.75s;
}

.star:nth-child(8){
    top: 0px;
    right: 700px;
    left:initial;
    animation-delay:1.4s ;
    animation-duration: 1.25s;
}

.star:nth-child(9){
    top: 0px;
    right: 1000px;
    left:initial;
    animation-delay:0.75s ;
    animation-duration: 2.25s;
}

.star:nth-child(10){
    top: 0px;
    right: 1000px;
    left:initial;
    animation-delay:2.75s ;
    animation-duration: 2.25s;
}




