*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#scrollText {
    position: absolute;
    /* top: 50%;
    left: 50%; */
    transform: translate(-50%, -50%);
    white-space: nowrap;
    overflow: hidden;
  }
  
  .button-6 {
    align-items: center;
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: .25rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0.85);
    cursor: pointer;
    display: inline-flex;
    font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 1.25;
    margin: 0;
    min-height: 3rem;
    padding: calc(.875rem - 1px) calc(1.5rem - 1px);
    position: relative;
    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    width: auto;
  }
  
  .button-6:hover,
  .button-6:focus {
    border-color: rgba(0, 0, 0, 0.15);
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
    color: rgba(0, 0, 0, 0.65);
  }
  
  .button-6:hover {
    transform: translateY(-1px);
  }
  
  .button-6:active {
    background-color: #F0F0F1;
    border-color: rgba(0, 0, 0, 0.15);
    box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
    color: rgba(0, 0, 0, 0.65);
    transform: translateY(0);
  }
  
  /* CSS */
  .button-6 {
    align-items: center;
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: .25rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0.85);
    cursor: pointer;
    display: inline-flex;
    font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 1.25;
    margin: 0;
    min-height: 3rem;
    padding: calc(.875rem - 1px) calc(1.5rem - 1px);
    position: relative;
    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    width: auto;
  }
  
  .button-6:hover,
  .button-6:focus {
    border-color: rgba(0, 0, 0, 0.15);
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
    color: rgba(0, 0, 0, 0.65);
  }
  
  .button-6:hover {
    transform: translateY(-1px);
  }
  
  .button-6:active {
    background-color: #F0F0F1;
    border-color: rgba(0, 0, 0, 0.15);
    box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
    color: rgba(0, 0, 0, 0.65);
    transform: translateY(0);
  }

html { 
    overflow-y: scroll; 
    height:100%;
}

body {  
    overflow: hidden;
    /* background: url(../images/bg1.jpg); */
    background-size: cover;
    
    flex-direction: column;
}

.bg{
    background-image: url(../images/bg1.jpg);
}
.new-bg{
    background-image:url(../images/bg2.jpg);
}

.picture {
    height: 80vh;
    width: 80vh;
}

.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.topnav {
    z-index: 2;
    position:fixed;
    top:0px; 
    left:0px; 
    right:0px; 
    background-color: rgba(0, 0, 0, 0.653);
    overflow: hidden;
}
  
/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color:azure;
    font-family: sans-serif;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
  
/* Change the color of links on hover */
.topnav a:hover {
    background-color: #8F43EE;
    color: black;
}
  
 /* Add a color to the active/current link */
.topnav a.active {
   background-color: #321c4d;
   color: white;
}

.left{
    float: left;
}

.right{
    float: right;
}

.rcorners {
    border-radius: 13px;
    /* border: 2px solid #73AD21; */

}

.center {
    text-align: center;
}

tr>td {
    padding-bottom: 0.75em;
}

h1{
    color:azure;
    font-family: sans-serif;
}

#page-container {
    position: relative;
    min-height: 100vh;
}
  
#content-wrap {
    padding-top: 60px;
    padding-bottom: 100px;    /* Footer height */
}

#footer{
    position: absolute;
    bottom: 0;
    color:azure;
    font-family: sans-serif;
    width: 100%;
    height: 100px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.653);
    
}

.copyright {
    margin-top:12px;
    margin-bottom:0;
    font-size:14px;
    opacity:0.6;
}

ul {
    --icon-space: 1.3em;
    list-style: none;
    padding: 0;
}
  
li {
    padding-left: var(--icon-space);
}
  
li:before {
    content: "\2605"; /* FontAwesome Unicode */
    font-family: FontAwesome;
    display: inline-block;
    margin-left: calc( var(--icon-space) * -1 );
    width: var(--icon-space);
}

table {
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
}

td{
    font-family: sans-serif;
    z-index: 2;
}

.shadow{
    text-shadow: 2px 2px 5px #8F43EE;
}

.bgBlack{
    background: rgba(0, 0, 0, 0.400);
    /* text-shadow: 1px 1px 1px #8F43EE; */
}

/* .center {
    margin-left: auto;
    margin-right: auto;
  } */
  
tr {
    color: white;
}
section{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
    background-position-x: center;
}

.star{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 4px;
    height: 4px;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.1), 0 0 0 8px rgba(255, 255, 255, 0.1), 0 0 20px rgba(255, 255, 255, 1)  ;
    animation:  animate 3s linear infinite;
}
.star::before{
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 300px;
    height: 1px;
    background: linear-gradient(90deg, #fff, transparent);
}
@keyframes animate {
    0%
    {
        transform: rotate(315deg) translateX(0);
        opacity: 1;
    }
    70%
    {
        opacity: 1;

    }
    100%
    {
        transform: rotate(315deg) translateX(-1500px);
        opacity: 0;

    }
    
}
.star:nth-child(1){
    top: 0;
    right: 0;
    left:initial;
    animation-delay:0 ;
    animation-duration: 1s;
}

.star:nth-child(2){
    top: 0;
    right: 80px;
    left:initial;
    animation-delay:0.2s;
    animation-duration: 3s;
}

.star:nth-child(3){
    top: 80px;
    right: 0px;
    left:initial;
    animation-delay:0.4s ;
    animation-duration: 2s;
}

.star:nth-child(4){
    top: 0;
    right: 180px;
    left:initial;
    animation-delay:0.6s;
    animation-duration: 1.5s;
}

.star:nth-child(5){
    top: 0;
    right: 400px;
    left:initial;
    animation-delay:0.8s;
    animation-duration: 2.5s;
}

.star:nth-child(6){
    top: 0;
    right: 600px;
    left:initial;
    animation-delay:1s ;
    animation-duration: 3s;
}
.star:nth-child(7 ){
    top: 300px;
    right: 0px;
    left:initial;
    animation-delay:1s ;
    animation-duration: 1.75s;
}

.star:nth-child(8){
    top: 0px;
    right: 700px;
    left:initial;
    animation-delay:1.4s ;
    animation-duration: 1.25s;
}

.star:nth-child(9){
    top: 0px;
    right: 1000px;
    left:initial;
    animation-delay:0.75s ;
    animation-duration: 2.25s;
}

.star:nth-child(10){
    top: 0px;
    right: 1000px;
    left:initial;
    animation-delay:2.75s ;
    animation-duration: 2.25s;
}




